.header{
  font-size:16px;
  background-color:yellow;
  margin-top:0;
  padding-bottom:0px;
  padding-left:10px;
  margin-bottom:55px;
}
h1{
  background-color: yellow;
  font-family:Arial;
  font-weight:bold;
  font-size:24px;
  margin-bottom:0;
  padding-left:10px;
  padding-top:20px;
}

img{
  width:100%;
}
div h2{
margin-bottom:0;
}
p{
  margin-top:10px;
}
.profile{
  border:1px grey solid;
  padding-top: 0px;
  margin-bottom:30px;
}
.title{
  
  
}